#about {
	width: 100%;
	height: 100%;
	padding: 3em 0;
	margin: 3em 0;
	background-color: #fff;

	.linebreaker {
	width: 50%;
	height: 2px;
	text-align: center;

	}



	p {

		font-family: 'Lato', sans-serif;

	}
	
}


#sjpic {
	width: 100%;
	height: 100%;
	padding: 2em;

	img {
		max-width: 100%;
		max-height: 100%;
		
	}




}


/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

	#about {
	padding: 3em;

	}


	#sjpic {
		padding: 0;
	}

}



@media only screen and (min-width: 992px) {

	#sjpic {
		padding: 2em;
	}



}

	
