#projects {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #151E29;

	img {
		object-fit: contain;
		height: 20rem;
		width: 100%;

	}

	.card {
		border: none;
	}

	.btn {
		background-color: #4975A7;
		color: #fff;
		border-radius: 0;
		cursor: pointer;
  		outline: none;
  		border: none;
  		box-shadow: 2px 9px #999;

  		&:active {
  			background-color: #151E29;
			box-shadow: 0 5px #666;
		    transform: translateY(4px);
  		}
		
	}

	.projectsIcons {
	padding: 0;
	margin: 0;
		
	}

	.projectsIcons img {
		height: 3rem;
			
	}

	
}