#skills {
	background-color: #C0D1E4;
	color: #151E29;
	justify-content: center;
	text-align: center;

	img {
		height: 5rem;
		width: auto;
	}

	#javascript {
		height: 4rem;
	}

	#jquery {
		height: 4rem;
	}


	#heroku {
		height: 4rem;
	}

	#postman {
		height: 4rem;
	}

	#sublime {
		height: 4rem;
	}
}