$theme-colors: (
	"primary" : #f2f2f2,
	"secondary" : #FFB633,
	"third": #151E29
);

//import bootstrap
@import './../../node_modules/bootstrap/scss/bootstrap.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-family: 'Merriweather', serif;
}

html, body {
    overflow-x: hidden;
}



//import partials
// @import '_header';

// @import '_home';

// @import '_about';

// @import '_works';

// @import '_designs';

// @import '_blog';

// @import '_contact';

@import '_home';

@import '_navbar';

@import '_aboutpage';

@import '_skills';

@import '_projects';

@import '_contact';

@import '_footer';


.hLine {
	width: 10%;
	// height: 10%;
	background-color: #151E29;

}








